*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style:none;
}
li{
    list-style:none; 
}
/* 顶部 */
#dingbu{
    width: 100%;
    height:35px ;
}
/* 顶部版心 */
.dingbub{
    margin: 0 auto;
    width: 1190px;
    height: 35px;
    background: #f5f5f5;
}
/* 顶部左 */
.dingbuz{
    width: 280px;
    float: left;
    list-style:none;
    margin-bottom: 0;
}
.dingbuz li{
    float: left;
    line-height: 35px;
    font-size: 12px;
    margin: 0 5px;
    text-decoration:none;
}
.dingbub li a span{
    color:#aeaeae;
}
.dingbuz li:nth-child(2) a span{
    color: #f35c38;
}
/* 顶部右 */
.dingbuy{
   margin-bottom: 0;
    float: right;
    list-style: none;
    
}
.dingbuy li{
    float: left;
    font-size: 12px;
    margin: 0 10px;
    text-decoration:none;
    line-height: 35px;
}
.dingbuy li:nth-child(5){
    color:#aeaeae;
}
/* 搜索 */
#sousuo{
    width: 100%;
    height: 121px;
}
.sousuob{
    width: 1190px;
    height: 121px;
    margin: 0 auto;
    
}
/* 搜索条 */
.sousuot{
float: right;
margin-left: 90px;
margin-top: 30px;
width: 390px;
}
/* 列表 */
#liebiao{
    width: 100%;
    height: 33px;
}
.liebiaob{
    width: 1190px;
    height: 33px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}
.qbsp{
    width: 133px;
    height: 33px;
    font-size: 16px;
    color: #ff4400;
    line-height: 33px;
    text-align: center;
    border-bottom: 1px solid #ff4400;
}
/* 内容 */
#neirong{
    width: 100%
}
.neirongb{
    width: 1190px;
    margin: 0 auto;
}
.top{
    width: 80px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #3c3c3c;
    font-size: 12px;
}
/* 商品 */
.shangpin{
    width: 1190px;
    height: 142px;
    background: #fcfcfc;
    margin: 30px 0;
}
.select{
    margin-top: -30px;
    float: left;
}
.img1{
    width: 80px;
    height: 80px;
    margin-top: 30px;
    margin-left: 10px;
    float: left;
}
.p1{
    width: 186px;
    height: 80px;
    float: left;
    margin-left: 10px;
    margin-top: 30px;
}
.number{
    float: left;
    width: 100px;
    height: 25px;
    margin: 30px 0 50px 300px
}
.number button{
    width: 19px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    background: #f0f0f0;
}
.number input{
    width: 41px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
}
.span1{
    width: 84px;
    height: 40px;
    font-size: 12px;
    float: left;
    margin: 30px 0 50px 100px;
}
/* 结算 */
#jiesuan{
    width: 100%;
    height: 50px;
}
.jiesuanb{
    width: 1190px;
    height: 50px;
    background: #e5e5e5;
}
.zongjia{
    height: 50px;
    float: left;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}
.zongjia span{
    color: red;
}
.js{
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #b0b0b0;
    font-size: 20px;
    float: right;
}
